.dropdown{
float:right;
font-size: 16px;
color: #6B7A40;
text-align: center;
padding: 14px 16px;
text-decoration: none;
overflow: hidden;
font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
margin: auto;
}
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: #6B7A40;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-size: 24px;
    margin: 0;
}
.dropdown:hover .dropbtn{
    background-color: white;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
}
.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: aliceblue;
}
.dropdown:hover .dropdown-content{
    display: block;
}
#community{
    height: auto;
    max-width: 100%;
    padding: 5px;
}
.column{
    float: left;
    width: 25%;
    height: max-content;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.col{
    float: left;
    height: max-content;
    width: 50%;
    padding: 2px;
    vertical-align: top;
}
.col img{
    margin-top: 8px;
    width: 100%;
    height: auto;
}
header{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    padding: 10px;
}
h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 5px;
}
p{
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    max-width: 800px;
    padding: 5px;
}
h2{
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 5px;
}
h3{
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 5px;
}
h4{
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 5px;
}
body{
    background-color: #F3EDE0;
}
header{
    color: #6B7A40;
}
#socials{
    width: 70px;
}
#socials2{
    width: 70px;
}
footer{
    background-color: #F3EDE0;
}
#socials:hover{
    background-color: white;
}
#socials2:hover{
    background-color: white;
}
#logo{
    float: left;
    padding: 7px;
}
div{
    box-sizing:border-box;
}
#art-wall{
    width: 1000px;
}
main{
    margin: 25px 50px 75px ;
}
@media only screen and (max-width: 767px) {
    body {
      font-size: 18px;
      width: 100%;
      margin: auto;
    }
  }
img{
    max-width: 100%;
    height: auto;
}